<!DOCTYPE html>
<html>
<body>
<h1>Leave Request from <%= @employee %></h1>
<p>Dear <%= @supervisor %>,</p>
<p><%= @employee %> has requested leave from <%= @leave_request %> to <%= @leave_request %>.</p>
<p>Please review and approve or reject the request.</p>
</body>
</html>
